body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#HomeStyling{
    background-image: url(../assets/images/formBack.png);
    background-size: cover;
    background-image: center;
}

.topNav {
    overflow: hidden;
    background-image: url(../assets/images/homePageHeader.png);
}

.topNav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.topNavRight  {
    float: right;
}

.topNav a:hover{
    background-color:#ddd ;
    color: black;
}

.topNav a.active {
    background-color: #04aa60;
}

.flexContainer{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.container > div{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

.item2{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}

.item2 p{
color: black;
}

.containerFlex{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.Container > div{
    background-color: rgb(103, 0, 103);
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.item4{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
}

.flexBox{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    grid-area: 5px;
}

.Box > div{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    color: black;
}

.item6{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}

.item6 p{
    color: black;
}

.boxNeptune{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    grid-area: 5px;
}

.Neptune > div{
    background-color: rgb(103, 0, 103);
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.item8{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
}

.boxSaturn{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    grid-area: 5px;
}

.Saturn > div{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

.item10{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
}

.item10 p{
    color: black;
}

.boxUranus{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    grid-area: 5px;
}

.Uranus > div{
    background-color: rgb(103, 0, 103);
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.item12{
    padding: 2em 4em 2em;
    font-size: 30px;
    font-family: sans-serif;
}

.footer{
    display: flex;
    gap: 10%;
    padding: 5%;
  }

  .footer h3{
margin: 0px;
padding-bottom: 40px;
  }

  .socialIconsContainer{
    display: flex;
    justify-content: space-between;
  }

  .socialIcon{
    width: 77px;
    height: 77px;
  }

  .Pieter{
    width: 266px;
    color: black;
  }

  .Pieter p{
    color: black;
  }

.subFooter a{
  display: flex;
  flex-direction: column;
padding: 10px 0px;
}

.footerEnd{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0 5%;
}

.footerEnd p {
  color: black;
}

body{
    background-color: #6cf7d4;
 }
 .stepper-input {   
    display: flex;
    font-size: 5em;
    justify-content: center;
    padding: 30px;
   }
 
   .stepper-input input{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 500;
     font-size:  25px;
   }
    
 .btn{
    cursor: pointer;
    padding: 1.5em;
    color: #fff;
    background-color: #00a496;
    border: 1px solid #00a496;
    font-size: 20px;
 }
 
 .btn:hover{
    background-color: #38e087;
    color: #121212;
    
   }
 
 .btn-left {  
    border-radius: 10px 0 0 10px;
 }
 
 .btn-right{
    border-radius: 0 10px 10px 0 ;
 }
 
 .input-box {
    border: 1px solid #121212;
    text-align: center;
 }
 
 .ticketSection {
   border: 1px solid #00434663;
   height: 380px;
   width: 70%;
   padding: 20px;
   margin: auto;
   margin-top: 5em;
   border-radius: 1em;
   box-shadow: 0px 3px 15px rgba(253, 254, 255, 0.589);
 }
 
 .ticketSection p {
   border: none;
   border-radius: 15px;
   padding: 24px;
   margin: 10px;
   font-size: 40px;
   text-align: center;
   background: transparent;
   color: #000000;
   box-shadow: 0px 3px 15px rgba(253, 254, 255, 0.589);
 }
 
 